server:
  port: 8080
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://8.148.67.170:5432/postgres
    username: user_MAC5WE
    password: "password_2TyHhc"
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl